body {
    font-family: Arial, Helvetica, sans-serif;
    color: #e6e9eb;
    background: #0b0d0f;
}
h1{
    margin: 4 4 4 4;
    font-family: Arial, Helvetica, sans-serif;
    color: #b5c1c9;
    background: #475966;
}
h2{
    margin: 4 4 4 4;
    font-family: Arial, Helvetica, sans-serif;
    color: #e6e9eb;
    background: #7491a4;
}
/*
    text: #e6e9eb;
    background: #0b0d0f;
    primary: #b5c1c9;
    secondary: #475966;
    accent: #7491a4;
*/